<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.message.dao.McChatMsgMapper">

    <select id="selectListByUserId" resultType="com.edu.framework.domain.message.McChatMsg">
        SELECT
            *
        FROM
            mc_chat_msg
        WHERE
            accept_user_id = #{userId}
            OR send_user_id = #{userId}
        ORDER BY
            create_time ASC
    </select>

    <select id="selectListByUserIdAndUserName" resultType="com.edu.framework.domain.message.McChatMsg">
        SELECT
            *
        FROM
            mc_chat_msg
        WHERE
            ( accept_user_id = #{userId} AND send_user_name like '%${findName}%' )
            OR ( accept_user_name like '%${findName}%' AND send_user_id = #{userId} )
        ORDER BY
            create_time ASC
    </select>
</mapper>