<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.ucenter.dao.McCompanyMapper">

    <select id="selectMcUserByCompanyId" resultType="com.edu.framework.domain.ucenter.McUser">
        SELECT
            username,
            userpic,
            name,
            sex,
            STATUS,
            create_time,
            update_time
        FROM
            mc_user
        WHERE
            id IN (
            SELECT
                user_id
            FROM
                mc_company_user
            WHERE
            company_id = #{companyId}
            AND STATUS = '1')
    </select>
</mapper>