<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.ucenter.dao.McMenuMapper">
    <select id="selectPermissionByUserId" resultType="com.edu.framework.domain.ucenter.McMenu">
        SELECT
            id,
            code,
            p_id pId,
            menu_name menuName,
            url,
            is_menu isMenu,
            level,
            sort,
            status,
            icon,
            create_time createTime,
            update_time updateTiem
        FROM
            mc_menu
        WHERE
            id IN (
            SELECT
                menu_id
            FROM
                mc_permission
            WHERE
            role_id IN ( SELECT role_id FROM mc_user_role WHERE user_id = #{userid} )
            )
    </select>
    <select id="selectPermissionByStatus" resultType="com.edu.framework.domain.ucenter.McMenu">
        SELECT
            id,
            code,
            p_id pId,
            menu_name menuName,
            url,
            is_menu isMenu,
            level,
            sort,
            status,
            icon,
            create_time createTime,
            update_time updateTime
        FROM
            mc_menu
        WHERE
            status = #{status}
    </select>
    <select id="selectPermissionByStatusAndRoleId" resultType="com.edu.framework.domain.ucenter.McMenu">
        SELECT
            id,
            code,
            p_id pId,
            menu_name menuName,
            url,
            is_menu isMenu,
            level,
            sort,
            STATUS,
            icon,
            create_time createTime,
            update_time updateTime
        FROM
            mc_menu
        WHERE
            status = #{status}
        AND id IN (
            SELECT
                menu_id
            FROM
                mc_permission
            WHERE
                role_id = #{roleId}
        )
    </select>

</mapper>